.widgetL {
    margin-top: 30px;
    padding: 0 5rem;
    flex: 1.2;
}

.heading {
    display: grid;
    grid-template-columns: 85% auto;
}

.button {
    color: rgb(31, 97, 241);
    text-decoration: underline;
}

